@import url(./reset.css);
@import './fonts/BeVietnam/stylesheet.css';

body {
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    color: #818080;
}

.container {
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
    width: 1440px;
}

.section-title {
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    color: #e84949;
}

.none {
    display: none;
}

/* Header */
.header {
    padding-bottom: 100px;
    padding-top: 35px;
}

/* Header-top */
.header-top {
    margin-bottom: 129px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 112px;
}
.nav__item {
    font-style: 28px;
    line-height: 41px;
    color: #000000;
}

.nav__item:hover {
    color: #e84949;
}

.nav__item--cogwheel {
    position: relative;
    width: 117px;
}

.nav__item--cogwheel::after {
    content: '';
    width: 44px;
    height: 41px;
    position: absolute;
    right: 0;
    top: -7px;
    background-image: url(./../img/header/header-nav/nav-cogwheel-black.svg);
}

.nav__item--cogwheel:hover::after {
    background-image: url(./../img/header/header-nav/nav-cogwheel-red.svg);
}

.nav__item--active {
    color: #e84949;
}

.nav__item--active::after {
    background-image: url(./../img/header/header-nav/nav-cogwheel-red.svg);
}

.burger-btn {
    display: none;
}

/* Header-content */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content__description {
    margin-right: 56px;
    max-width: 630px;
}

.header-content__description-title {
    margin-bottom: 37px;
    font-weight: 600;
    font-size: 50px;
    line-height: 73px;

    color: #000000;
}

.header-content__description-text {
    margin-bottom: 37px;
    font-size: 35px;
    line-height: 55px;
    color: #838383;
}

.header-content__description-btn {
    padding: 10px 24px;
    max-width: 176px;
    height: 71px;

    font-size: 35px;
    line-height: 51px;
    color: #ffffff;

    background-color: #e84949;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12),
        0px 1px 5px rgba(0, 0, 0, 0.2);
}

.header-content__img {
    position: relative;
    width: 600px;
    height: 576px;
}

.header-content__img-bg {
    position: absolute;
}

.img-photo {
    right: 4px;
    top: 0;
}

.img-bg1 {
    top: -30px;
    left: 0;
}

.img-bg2 {
    top: -79px;
    left: 236px;
}

.img-bg3 {
    top: -79px;
    right: 0;
}

.img-bg4 {
    bottom: -53px;
    left: 28px;
}

.img-bg5 {
    right: 0;
    bottom: -93px;
}

/* Main */
/* Skills */
.skills {
    padding-bottom: 100px;
}

.skills-title {
    margin-bottom: 32px;
}

.skills-wrapper {
    position: relative;
    display: flex;
    column-gap: 56px;
    justify-content: space-between;
}

.skills__technologies {
    padding-top: 33px;
    max-width: 688px;
}

.skills__technologies-text {
    font-size: 35px;
    line-height: 51px;
    margin-bottom: 17px;
}

.skills__technologies-wrapper {
    padding-left: 56px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 65px;
    row-gap: 58px;
    justify-content: space-between;
    align-items: center;
    width: 555px;
}

/* Projects */
.projects {
    padding-bottom: 100px;
}

.projects__title {
    margin-bottom: 43px;
}

.projects__text {
    margin-bottom: 53px;
    text-align: center;
    font-size: 35px;
    line-height: 51px;
}

.projects__items-wrapper {
    display: flex;
    column-gap: 42px;
    justify-content: space-between;
}

.projects__items {
    padding: 6px;
    max-width: 392px;
    min-height: 501px;

    background: linear-gradient(302.35deg, #0d54be 4.37%, #20ecd3 95.31%);
}

.projects__items-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 489px;
    background-color: #ffffff;
}

.projects__items-card-text {
    padding: 0 5px;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
}

.projects__items-card-link {
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    column-gap: 12px;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #0571ad;
    align-items: center;
    justify-content: center;
}

/* Contact */
.contact {
    padding-bottom: 100px;
}

.contact-title {
    margin-bottom: 72px;
}

.contact__wrapper {
    display: flex;
    column-gap: 105px;
    justify-content: space-between;
}

.contact__img {
    padding-top: 23px;
    padding-bottom: 23px;
    width: 636px;
    height: 471px;
}
.contact__send-form {
    width: 515px;
    display: flex;
    flex-direction: column;
    row-gap: 43px;
}

.input {
    padding-top: 45px;
    min-height: 100px;
}

.textarea {
    min-height: 263px;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 400;
    resize: none;
}

.input-field {
    padding-left: 18px;
    height: 100%;
    font-size: 30px;
    line-height: 44px;

    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    width: 100%;
}

.send-form__btn {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
    margin: 0 auto;
    padding: 12px 40px;
    width: 168px;
    font-size: 20px;
    line-height: 26px;
    color: #fffdfd;

    background-color: #4f47c8;
    border-radius: 4px;
}


/* Footer */
.footer {
    color: #ffffff;
}

.footer__container {
    padding-top: 136px;
    padding-bottom: 145px;
    display: flex;
    justify-content: space-between;
    background-color: #4f47c8;
    background-image: url(../img/footer/bg-wave.jpg);
    background-repeat: no-repeat;
}

.social-media {
    max-width: 455px;
}

.social-media__text {
    margin-bottom: 34px;
    font-size: 35px;
    line-height: 51px;
}

.social-media__items {
    display: flex;
    column-gap: 65px;
    justify-content: space-between;
}

.more-projects {
    max-width: 490px;
}

.more-projects-text {
    padding-bottom: 34px;
    font-size: 35px;
    line-height: 51px;
}

.my-github {
    font-size: 28px;
    line-height: 45px;
}

.my-github__link {
    display: flex;
    column-gap: 22px;
    justify-content: space-between;
    align-items: flex-end;
    color: #ffffff;
}

.my-github__link--color {
    color: #0acbbf;
}


/* ======================================================= Media 768 ===================================================================== */
@media (max-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 0 30px;
        max-width: 768px;
    }

    .section-title {
        font-size: 28px;
        line-height: 36px;
    }

    /* Header */
    .header {
        padding-top: 23px;
        padding-bottom: 60px;
    }

    /* Header-top */
    .header-top {
        margin-bottom: 20px;
        height: 41px;
    }

    /* Nav */
    .nav {
        position: relative;
    }

    .nav__item {
        display: none;
    }

    .burger-btn {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        align-items: center;
        height: 32px;
    }

    .burger-menu-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
    }
    .burger-menu {
        position: relative;
        width: 32px;
        height: 3px;
        background-color: #e84949;
    }

    .burger-menu::before {
        position: absolute;
        left: 0;
        top: -9px;
        content: '';
        width: 32px;
        height: 3px;
        background-color: #e84949;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    .burger-menu::after {
        position: absolute;
        left: 0;
        top: 9px;
        content: '';
        width: 32px;
        height: 3px;
        background-color: #e84949;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    .burger-menu-active {
        background-color: transparent;
    }

    .burger-menu-active::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    .burger-menu-active::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

     /* Header-content */
     .header-content {
        display: flex;
        justify-content: space-around;
        column-gap: 30px;
    }

    .header-content__description {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        max-width: 300px;
    }

    .header-content__description-title {
        margin: 0;
        font-weight: 600;
        font-size: 28px;
        line-height: 47px;
        color: #343d68;
    }

    .header-content__description-text {
        margin: 0;
        text-align: center;
        font-size: 20px;
        line-height: 28px;
        color: #838383;
    }

    .header-content__description-btn {
        padding: 10px 24px;
        max-width: 114px;
        height: 46px;

        font-size: 18px;
        line-height: 26px;
        color: #ffffff;

        background-color: #e84949;
        border-radius: 4px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14),
            0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    }

    .header-content__img {
        position: relative;
        max-width: 300px;
        height: 295px;
    }

    .header-content__img-bg {
        position: absolute;
    }

    .img-photo {
        right: 12px;
        top: 35px;
        width: 204px;
    }

    .img-bg1 {
        top: 22px;
        left: 0;
        height: 60px;
        width: 22px;
    }

    .img-bg2 {
        top: 0;
        left: 105px;
        width: 15px;
        height: 16px;
        transform: rotate(-15deg);
    }

    .img-bg3 {
        top: 2px;
        right: 2px;
        width: 24px;
        height: 24px;
    }

    .img-bg4 {
        bottom: 0;
        left: 22px;
        width: 14px;
        height: 13px;
    }

    .img-bg5 {
        right: 0;
        bottom: -17px;
        width: 105px;
        height: 60px;
    }

    /* Main */
    /* Skills */
    .skills {
        padding-bottom: 60px;
    }

    .skills-title {
        margin-bottom: 20px;
    }

    .skills-wrapper {
        column-gap: 30px;
        justify-content: space-around;
    }

    .skills__technologies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 40px;
        padding-top: 0;
        max-width: 300px;
    }

    .skills__technologies-text {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 0;
    }

    .skills__technologies-wrapper {
        padding-left: 0;
        flex-wrap: nowrap;
        column-gap: 10px;
        width: 300px;
    }

    .skills__technologies-img {
        width: 80px;
        height: 80px;
    }

    .skills__img {
        width: 300px;
    }

    /* Projects */
    .projects {
        padding-bottom: 60px;
    }

    .projects__title {
        margin-bottom: 20px;
    }

    .projects__text {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
    }

    .projects__items-wrapper {
        display: flex;
        column-gap: 0;
        justify-content: space-between;
    }

    .projects__items {
        display: flex;
        max-width: 392px;
        min-height: 0;
    }

    .projects__items-card {
        min-height: 0;
        width: 220px;
        background-color: #ffffff;
    }

    .projects__items-card-text {
        flex: 1 1 auto;
        padding: 0 5px;
        font-size: 18px;
        line-height: 28px;
        text-align: center;

    }

    .projects__items-card-link {
        font-size: 18px;
        line-height: 28px;
    }

    /* Contact */
    .contact {
        padding-bottom: 60px;
    }

    .contact-title {
        margin-bottom: 30px;
    }

    .contact__wrapper {
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .contact__img {
        padding-top: 23px;
        padding-bottom: 23px;
        width: 350px;
        height: 350px;
    }
    .contact__send-form {
        width: 350px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .input {
        padding-top: 45px;
        min-height: 50px;
    }

    .textarea {
        min-height: 163px;
    }

    .input-field {
        padding-left: 15px;
        height: 100%;
        font-size: 18px;
        line-height: 28px;

        border: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.17);
        border-radius: 8px;
        width: 100%;
    }

    /* Footer */
    .footer {
        color: #ffffff;
    }

    .footer__container {
        padding-top: 80px;
        padding-bottom: 70px;
        justify-content: space-around;
    }

    .social-media {
        max-width: 350px;
    }
    .social-media__text {
        margin-bottom: 34px;
        font-size: 20px;
        line-height: 36px;
    }
    .social-media__items {
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
    }

    .social-img {
        width: 35px;
        height: 35px;
    }

    .more-projects {
        max-width: 350px;
    }

    .more-projects-text {
        padding-bottom: 34px;
        font-size: 20px;
        line-height: 36px;
    }

    .my-github {
        font-size: 18px;
        line-height: 28px;
    }

    .my-github__link {
        display: flex;
        column-gap: 22px;
        justify-content: space-between;
        align-items: flex-end;
        color: #ffffff;
    }

    .my-github__link--color {
        color: #0acbbf;
    }
}
/* ======================================================= Media 360 ===================================================================== */
@media (max-width: 360px) {
    .container {
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 360px;
    }

    .section-title {
        font-size: 25px;
        line-height: 36px;
        text-align: center;
        color: #e84949;
    }

    /* Header */
    .header {
        padding-top: 23px;
    }

    /* Header-top */
    .header-top {
        margin-bottom: 34px;
        height: 41px;
    }

    /* Nav */
    .nav {
        position: relative;
    }

    .nav__item {
        display: none;
    }

    .burger-btn {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        align-items: center;
        height: 32px;
    }

    .burger-menu-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
    }
    .burger-menu {
        position: relative;
        width: 32px;
        height: 3px;
        background-color: #e84949;
    }

    .burger-menu::before {
        position: absolute;
        left: 0;
        top: -9px;
        content: '';
        width: 32px;
        height: 3px;
        background-color: #e84949;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    .burger-menu::after {
        position: absolute;
        left: 0;
        top: 9px;
        content: '';
        width: 32px;
        height: 3px;
        background-color: #e84949;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    .burger-menu-active {
        background-color: transparent;
    }

    .burger-menu-active::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    .burger-menu-active::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    /* Header-content */
    .header-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        row-gap: 47px;
        column-gap: 0;
    }

    .header-content__description {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        align-items: center;
        margin: 0;
        max-width: 300px;
    }

    .header-content__description-title {
        margin: 0;
        font-weight: 600;
        font-size: 28px;
        line-height: 47px;
        color: #343d68;
    }

    .header-content__description-text {
        margin: 0;
        font-size: 18px;
        line-height: 28px;
        color: #838383;
    }

    .header-content__description-btn {
        padding: 10px 24px;
        max-width: 114px;
        height: 46px;

        font-size: 18px;
        line-height: 26px;
        color: #ffffff;

        background-color: #e84949;
        border-radius: 4px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14),
            0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    }

    .header-content__img {
        position: relative;
        max-width: 257px;
        height: 295px;
    }

    .header-content__img-bg {
        position: absolute;
    }

    .img-photo {
        right: 12px;
        top: 35px;
        width: 204px;
    }

    .img-bg1 {
        top: 22px;
        left: 0;
        height: 60px;
        width: 22px;
    }

    .img-bg2 {
        top: 0;
        left: 105px;
        width: 15px;
        height: 16px;
        transform: rotate(-15deg);
    }

    .img-bg3 {
        top: 2px;
        right: 2px;
        width: 24px;
        height: 24px;
    }

    .img-bg4 {
        bottom: 0;
        left: 22px;
        width: 14px;
        height: 13px;
    }

    .img-bg5 {
        right: 0;
        bottom: -17px;
        width: 105px;
        height: 60px;
    }

    /* Main */
    /* Skills */
    .skills-title {
        margin-bottom: 18px;
    }

    .skills-wrapper {
        display: flex;
        flex-direction: column-reverse;
        column-gap: 43px;
        align-items: center;
    }

    .skills__technologies {
        padding-top: 33px;
        max-width: 300px;
    }

    .skills__technologies-text {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 23px;
    }

    .skills__technologies-wrapper {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 59px;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }

    .skills__img {
        margin-bottom: 43px;
        width: 250px;
        height: 186px;
    }

    /* Projects */
    .projects__title {
        margin-bottom: 18px;
    }

    .projects__text {
        margin-bottom: 43px;
        font-size: 16px;
        line-height: 23px;
    }

    .projects__items-wrapper {
        flex-direction: column;
        column-gap: 0;
        row-gap: 70px;
    }

    .projects__items {
        max-width: 300px;
        min-height: 300px;
    }

    .projects__items-card {
        row-gap: 15px;
        width: 100%;
        min-height: 300px;
    }

    .projects__items-card-text {
        font-size: 18px;
        line-height: 26px;
    }

    .projects__items-card-link {
        font-size: 18px;
        line-height: 26px;
    }

    /* Contact */

    .contact-title {
        margin-bottom: 34px;
    }

    .contact__wrapper {
        flex-direction: column;
        column-gap: 0;
        row-gap: 36px;
        align-items: center;
    }

    .contact__img {
        padding-top: 0;
        padding-bottom: 0;
        width: 250px;
        height: 186px;
    }
    .contact__send-form {
        width: 323px;
    }

    .input {
        min-height: 53px;
    }

    .textarea {
        min-height: 110px;
    }

    .input-field {
        padding: 12px 18px;
        height: 100%;
        font-size: 18px;
        line-height: 26px;
    }

    .send-form__btn {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 20px;
        margin: 0 auto;
        padding-right: 40px;
        padding-top: 15px;
        width: 104px;
        height: 51px;
        font-size: 0;
        line-height: 0;
        color: #fffdfd;

        background-color: #4f47c8;
        border-radius: 4px;
    }

    /* Footer */
    .footer {
        color: #ffffff;
    }

    .footer__container {
        padding-top: 46px;
        padding-bottom: 12px;
        flex-direction: column;
        row-gap: 62px;
        background-image: url(../img/footer/mobile-bg-wave.jpg);
    }

    .social-media {
        max-width: 300px;
    }

    .social-media__text {
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 26px;
    }

    .social-media__items {
        column-gap: 57px;
    }

    .social-img {
        width: 30px;
        height: 30px;
    }

    .more-projects {
        max-width: 300px;
    }

    .more-projects-text {
        padding-bottom: 12px;
        font-size: 18px;
        line-height: 26px;
    }

    .my-github {
        font-size: 18px;
        line-height: 26px;
    }

    .my-github__link {
        flex-direction: row-reverse;
        column-gap: 0;
    }
}
