@font-face {
    font-family: 'Be Vietnam';
    src: url('BeVietnam-Regular.eot');
    src: local('Be Vietnam Regular'), local('BeVietnam-Regular'),
        url('BeVietnam-Regular.eot?#iefix') format('embedded-opentype'),
        url('BeVietnam-Regular.woff2') format('woff2'),
        url('BeVietnam-Regular.woff') format('woff'),
        url('BeVietnam-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('BeVietnam-Medium.eot');
    src: local('Be Vietnam Medium'), local('BeVietnam-Medium'),
        url('BeVietnam-Medium.eot?#iefix') format('embedded-opentype'),
        url('BeVietnam-Medium.woff2') format('woff2'),
        url('BeVietnam-Medium.woff') format('woff'),
        url('BeVietnam-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('BeVietnam-Bold.eot');
    src: local('Be Vietnam Bold'), local('BeVietnam-Bold'),
        url('BeVietnam-Bold.eot?#iefix') format('embedded-opentype'),
        url('BeVietnam-Bold.woff2') format('woff2'),
        url('BeVietnam-Bold.woff') format('woff'),
        url('BeVietnam-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
